body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
	background-color: #000000;
}

.background-container {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

