.paper {
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #8a8a8a;
    backdrop-filter: blur(10px);
    color: #fff;
}

.formContainer {
    padding: 20px;
    background: transparent;
}


.formInput {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
}
